@media screen and (max-width: 768px) {
    .image h1 {
        padding-left: 70px;
        font-size: 30px;
        padding-top: 250px;
    }
    img {
        width: 300px;
        margin-right: 30px;
    }
    .image a {
        margin-left: 75px;
    }
    .image2 img {
        margin-right: 280px;
        width: 200px;
        height: 200px;
    }
    .image2 h2 {
        padding-top: 330px;
    }
    .image4 img {
        width: 240px;
        margin-top: 65px;
    }
    .image4 h2 {
        padding-left: 320px;
    }
    .image5 img {
        width: 360px;
        margin-top: -275px;
    }
    .image5 a {
        margin-top: -40px;
        margin-right: 465px;
    }
}

@media screen and (max-width: 425px) {
    .image h1 {
        padding-left: 70px;
        font-size: 30px;
    }
    img {
        width: 250px;
        margin-right: -200px;
        margin-top: -150px;
    }
    .image a {
        margin-left: 70px;
    }
    .image2 img {
        margin-right: 5px;
    }
    .image2 h2 {
        padding-top: 330px;
        padding-left: 200px;
    }
    .image4 h2 {
        padding-left: 250px;
    }
    .image4 img {
        margin-left: 80px;
        width: 180px;
    }
    .image5 img {
        margin-right: -150px;
        width: 280px;
        margin-top: -270px;
    }
    .image4 a {
        margin-left: 110px;
    }
    .image5 a {
        margin-right: -70px;
    }
    .image2 p {
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
        margin-right: -200px;
    }
}